<div class="snakeContainer" class="row">
    <h1>Snake in angularJS</h1>
    <div class="scoresContainer">
        <div class="best-container">Max score: {{game.highScore}}</div>
        <div class="score-container">Score: {{game.currentScore}}</div>
        <div class="immortal-hint" ng-show="game.totalGames > 1 && !game.immortal">Try to type <span class="iddqd">IDDQD</span></div>
        <div class="immortal-timer" ng-show="game.timeout > 0">Immortal mode expires in <span class="iddqd">{{game.timeout}}</span> sec</div>
    </div>
    <div>
        <div class="row" ng-repeat="column in board">
            <div ng-repeat="row in column track by $index"
                 class="column"
                 ng-style="{'background-color':getColor($index, $parent.$index)}">
            </div>
        </div>
    </div>
</div>